<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <p>
      To get members of your coop to sign up for the site, just have them go to this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>