<h2>View a Coop Calendar</h2>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coops.each do |coop| %>
      <tr>
        <td><%= coop.name %></td>
        <td><%= link_to 'Show', coop %></td>
      </tr>
    <% end %>
  </tbody>
</table>
