<h1>Editing user</h1>

<%= render 'form' %>

<div class='account_destroy'>
  <span class='info'>No longer in <%= @user.coop.name %>?</span>
  <%= link_to 'Delete your account', @user, method: :delete %>
</div>

<%= link_to 'Back to shifts', @user %>
