<h1>Editing meals for <%= @coop.name %></h1>
<p id="notice"><%= notice %></p>

<h2>Hi you're editing your coops information. You can find this page anytime by clicking a link on the calendar page for your coop!</h2>
<%= render 'mult_meal_form' %>

<%= link_to "View #{@coop.name}", @coop %>