<div class='edit_coop_page'>

<p id="notice"><%= notice %></p>

<h2 class='edit_welcome'>Hi you're editing your coops information. You can find this page anytime by clicking a link on the calendar page for your coop!</h2>
<%= render 'mult_meal_form' %>

</div>