<div class='edit_coop_page'>

<p id="notice"><%= notice %></p>

<h2 class='edit_welcome'>You're editing your co-op's information! You can find this page anytime by clicking the "edit co-op information" link on your co-op's calendar page.</h2>
<%= render 'mult_meal_form' %>

</div>
