// Place all the styles related to the Coops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  Welcome page!
 */

$border_color: #555555;
$light_green: #b6d7a8;

.welcome_page {
  padding-top: 30px;
  margin: 30px;

  p {
    margin: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .coop_link {
    display: block;
    padding: 2px;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 60px;
  }
}

#coop_calendar {
  border-collapse: collapse;
  margin-top: 20px;

  td {
    border: 2px solid $border_color;
  }
}

.header_row {
  // background-color: #b0b0b0;
  font-weight: bold;
  font-size: 16px;
}

.odd_row {
  background-color: #e1e1e1;
}

.even_row {
  background-color: #fafafa;
}

th.saturday {
  background-color: #bf9630;
  // background-color: #ffec73;
}

th.sunday {
  background-color: #bf9630;
}

.description_area {
  position: relative;
  width: 100%;

  .descrip {
    left: 60px;
    width: 350px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  #next_meal {
    position: relative;
    display: inline-block;
    min-width: 400px;
    max-width: 50%;
    left: 60px;
    height: 120px;
    padding: 10px;
    overflow: auto;
    border: 3px solid $border_color;
    background-color: $light_green;

    .namearea {
      font-size: 16px;
      margin-bottom: 6px
    }

    .label {
      font-weight: bold;
    }

    div {
      margin: 3px 0;
    }

    .edited_by {
      position: relative;
      text-align: right;
      font-style: italic;
      bottom: 0px;
      right: 0px;
    }
  }
}

.coop_header {
  margin-left: 50px;
  margin-right: 350px;


  .member_links {
    display: inline-block;
    position: relative;
    left: 400px;
    text-align: right;
  }


  .page_title {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
  }

  #admin_links {
    .edit_coop_link {
      font-size: 20px;
      /* float: left; */
    }

    #membership_links {
      float: right;

      .membership_link {
        padding: 8px;
      }
    }
  }
}

#mealInfo {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;

  .overlay {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity:0.6;
    filter:alpha(opacity=60);
    z-index: 100;
  }

  .info_content {
    position: absolute;
    left: 33%;
    top: 33%;
    width: 33%;
    height: 50%;
    overflow: auto;
    padding: 6px;
    border: 2px solid;

    background-color: #ffffff;
    z-index: 101;
  }
}


.meal_label {
  text-align: right;
  width: 80px;
  padding-right: 5px;
}

.meal {
  position: relative;
  padding: 5px;
  height: 80px;
  width: 130px;
  text-align: center;

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }

  .next_meal {
    background-color: #b6d7a8;
  }

  .next_meal, .a_meal {
    height: 100%;
    position: relative;

    .meal_info_holder {
      margin: auto;
      // height: inherit;
      // vertical-align: middle;
      // font-size: 12px;
      // line-height: 12px;
    }
  }

  .cancelled {
    background-color: #dd8282;
    height: 100%;

    .cancel_text {
      font-size: 16px;
      line-height: 80px;
      vertical-align: middle;
    }
  }


  .meal_edit_link {
    position: absolute;
    bottom: 4px;
    right: 8px;
  }

  .more_info {
    font-style: italic;
  }
}

.no_meal {
  position: relative;
  padding: 5px;
  height: 80px;
  width: 130px;
  font-size: 55px;
  background-color: #888888;
  text-align: center;
}

/*
  EDIT COOP PAGE
 */

.edit_coop_page {
  margin-left: 5px;
  margin-right: 20px;

  h3 {
    font-weight: bold;
  }

  #description_area {
    textarea {
      min-width: 300px;
      min-height: 40px;
    }

    .field_info {
      font-size: 16px;
    }

    .example {
      font-style: italic;
      display: block;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .form_block {
    padding: 4px;
    margin: 4px;
    border: 2px solid #333333;

    .form_block_header {
      margin-bottom: 16px;

      .primary {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
      }

      .secondary {
        font-size: 16px;
      }
    }

    .time {
      h3 {
        display: inline-block;
      }

      .time_selector {
        display: inline-block;
        margin-left: 20px;
      }
    }



    .meal_shift_form {
      margin: 3px;
      padding: 4px;
      border-top: 1px solid #333333;

      .days {
        margin: 16px auto;

        h3 {
          display: inline;
          vertical-align: top;
          margin-right: 40px;
        }

        .day {
          position: relative;
          width: 100px;
          text-align: center;
          display: inline-block;

          label {
            top: 0;
            display: block;
          }

          input {
            position: relative;
            bottom: 0;
          }
        }
      }

      .shifts {

        .shift {
          display: block;
          margin-left: 50px;
          margin-top: 4px;
        }
      }
    }

    .info_header {
      margin-bottom: 18px;
      font-size: 20px;
    }
  }

  .check_row {
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    padding: 4px;
    font-weight: bold;

    &.checked {
      background-color: $light_green; // green yall
      color: #333;
    }
  }

  input[type=submit] {
    margin-top: 20px;
    height: 80px;
    width: 400px;
    font-size: 40px;
    float: right;
    margin-right: 80px;
  }
}
