.header {
  position: relative;
  height: 60px;
  margin-bottom: 50px;

  .title {
    width: 500px;
    font-size: 44px;
    margin-left: 50px;
    margin-top: 40px;
    color: #294f16;
  }

  /* The outermost <ul> (nav bar) */
  .nav_bar {
    display: block;

    #site_nav {
      list-style:none;
      font-weight:bold;
      margin-bottom:10px;
      float:right;
      clear: left;

      li {
        float:left;
        margin-right:10px;
        position:relative;


        /* When hovering over a top-level menu item */
        &:hover {
          ul {                      /* Show the sub-menu */
            display: block;

            a {                     /* Don't show underlines */
              text-decoration: none;
            }
          }
        }

        a {
          display:block;
          padding:5px;
          color:#fff;
          background:#333;
          text-decoration:none;

          &:hover {
            color:#fff;
            background:#6b0c36;
          }
        }

        ul {
          background:#fff;
          background:rgba(255,255,255,0);
          list-style:none;
          position:absolute;
          display: none;
          padding: 0;

          li {
            padding-top:1px;
            float:left;
            width: 100%;
            z-index: 5;

            a {
              white-space:nowrap;
            }
          }
        }
      }
    }
  }
}

.background {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}
