// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light_green: #b6d7a8;
#alert_area {
  position: fixed;
  top: 200px;
  left: 200px;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  background-color: #dddddd;
  border: 4px solid #666666;
  border-radius: 10px;
  padding: 10px;
  display: none;

  .title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .pic_link {
    margin: 20px;
    display: inline-block;
    width: 90px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
  }

  .question, .pic_trained {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .pic_false_link {
    background-color: #444444;
    float: left;
  }

  .pic_true_link {
    background-color: $light_green;
    float: right;
  }
}

/*
  EDITING SHIFTS PAGE
 */

#shift_select_page {

  th {
    padding-bottom: 16px;
  }

  th, td {
    // border-bottom: 1px solid #bbbbbb;
  }

  td {
    width: 140px;
    vertical-align: top;
  }

  .done_link {
    display: block;
    position: relative;
    left: 650px;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    background-color: #dddddd;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
  }

  .shifts_row_label {
    border: none;
    text-align: right;
    font-weight: bold;
    width: 80px;
    padding-right: 10px;
  }

  .shift_toggle {
    text-align: center;
  }

  .add_remove_link {
    display: block;
    margin: 3px 0;
    padding: 2px;
    text-decoration: none;
  }

  .add_shift {
    background-color: #dddddd;
  }

  .remove_shift {
    background-color: $light_green;
    color: #ffffff;
  }
}